body {
    margin:0;
    padding:0;
    min-width:300px;
    background-color:#000;
    font-family: monospace, "Arial";
    color:#afa;
	min-width: 150px;
}

#top {
    position:absolute;
    top:0;
    width:100vw
}

#version {
    position:absolute;
    left:0;
    top:0;
    height:9vh;
    line-height:3vh;
    font-size:2vh;
    color:#040
}

#daytype {
    position:absolute;
    right:0;
    top:0;
    width:50vw;
    height:10vh;
    min-width:150px;
    font-size:10px;
    text-align:right
}

#bottom {
    position:absolute;
    top:70vh;
    width:100vw
}

#goal {
    position:relative;
    float:left;
    height:15vh;
    width:50vw;
    min-width:150px;
    font-size:10px
}

#current {
    position:relative;
    float:right;
    height:15vh;
    width:50vw;
    min-width:150px;
    font-size:10px;
    text-align:right
}

#eventname {
    position:absolute;
    top:10vh;
    width:100vw;
    height:15vh;
    text-align:center;
    font-size:10px
}

#maindisplay {
    position:absolute;
    top:25vh;
    width:100vw;
    height:45vh;
    text-align:center;
    font-size:10px;
    line-height:1em
}

.col.disabled {
    color:#040
}

#alarmQuestion {
    position:absolute;
    min-height:60px;
    min-width:300px;
	width: 10vw;
	height: 10vh;
    background-color:rgba(100,140,100,0.9);
    top:calc(50vh - 100px);
    left:calc(50vw - 150px);
    color:#cfc;
    padding:5px;
    font-size:22px;
    text-align:center;
    border-radius:6px
}

.alarmQuestionAns {
    width:50px;
    background-color:rgba(100,140,100,0.9);
    padding:4px;
    border-radius:3px;
    cursor:pointer
}