body {
	
	background-color: rgba(255, 255, 255, 1);
	color: #000000;
}

 #version {
	background-color: rgba(255, 255, 0, 0.4);
 }
 #daytype {
	background-color: rgba(255, 0, 255, 0.4);
 }
 #goal {
	background-color: rgba(0, 255, 0, 0.4);
 }
 #current {
	background-color: rgba(0, 0, 255, 0.4);
 }
 #eventname {
	background-color: rgba(0, 255, 255, 0.4);
 }
 #maindisplay {
	background-color: rgba(255, 0, 0, 0.4);
 }

#alarmQuestion {
	background-color: rgba(0, 255, 0, 0.4);
}
.alarmQuestionAns {
	background-color: rgba(255, 0, 255, 0.4);
}